html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  border-top: 8px solid;
  margin: auto;
  text-align: center;
}

/* Header */

header {
  background-size: cover;
  height: 380px;
  width: 380px;
  margin: 0;
}

.site-header {
  background-image: url(../img/background_fruits_header.webp);
  background-size: cover;
  padding-top: 1px;
}

.title-container {
  background-color: #ffffffdd;
  margin: 30px;
  padding: 20px;
}

.logo {
  margin: 30px 50px;
}

.button-product {
  font-family: 'Maven Pro';
  background-color: #57BB6B;
  color: #ffffff;
  border-radius: 15px;
  text-decoration-line: none;
  margin: 8px 0;
  padding: 11px 20px;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.button-product-light {
  font-family: 'Maven Pro';
  color: #57BB6B;
  background-color: #ffffff;
  text-decoration: none;
  margin: 8px 0;
  padding: 11px 20px;
  border-radius: 14px;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

/* Main */


main {
  background-color: #57BB6B;
}

img {
  margin: 0;
}

.fruit-Card-Container

p {
  font-family: 'Sriracha', cursive;
}

.titlebox{
background-color: white;
position: absolute;
}


.fruits {
  width: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
