html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  border-top: 8px solid;
  margin: auto;
  text-align: center;
}

header {
  background-size: cover;
  height: 380px;
  width: 380px;
  background-image: url(../img/background_fruits_header.webp);
  margin: 0;
}

.site-Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-Container {
display: flex;
flex-wrap: wrap;
justify-items: center;
margin: 28px 30px;
background-color: #ffff;
}

.logo {
  margin: 30px 50px;
}

main {
  background-color: #57BB6B;
}

img {
  margin: 0;
}

.fruit-Card-Container

p {
  font-family: 'Sriracha', cursive;
}

.titlebox{
background-color: white;
position: absolute;
}


.fruits {
  width: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
