html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
  text-align: center;
}

.fruitHeader {
  background-image: url(../img/background_fruits_header.webp);
  background-size: 380px;
  height: 380px;
  width: 380px;
}

main {
  background-color: #57BB6B;
}
img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: 'Sriracha', cursive;
}

.titlebox{
background-color: white;
position: absolute;
}


.fruits {
  width: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
